/*Fondo de pagina*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar
{
    background-color: blue;
    margin: 0%;
    padding: 0%;
    
}

.nav-item
{
    color: aliceblue;
}

.fondo
{
    background-color: rgb(27, 190, 255);
}
.calesita
{
height: 800px;
width: 100%;
content-visibility: visible;
}

                       
 .hola{ 
    
position: relative;

display: inline-block;

text-align: center;
}



.MU
{
    color: rgb(0, 0, 0);
    text-align: center;

    margin-top: 5px;

}

.flextabla
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-CV
{
    
    display: flex;
    justify-content: space-between;
}

.imgcv
{
    width: 50%;
    height: 500px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.texto
{
    margin-top: 20px;
    margin-bottom: 20px;
}



.flex 
    {
        display: flex;
        justify-content: center;
        
    }
.flex-q
{
    display: flex;
    flex-direction: column;

}

.card 
{
    padding: 10px;
    margin: 20px;
    width: 1000px;
}








 
/*
    
    #encabezadoUV
    {
        background-image: url(../Ima/maxresdefault.jpg);
        height: 500px;
        
    }
    
    #CV
    {
        background-image: url(../Ima/CdlV.jpg);
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #PNTF
    {
        background-image: url(../Ima/Tierra\ del\ fuego.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    #CB
    {
        background-image: url(../Ima/CB.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    #buceo
    {
        background-image: url(../Ima/Buceo.jpeg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    #LyT
    {
        background-image: url(../Ima/LyT.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    #Cta
    {
        background-image: url(../Ima/Cabalgata.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    
    #KYC
    {
        background-image: url(../Ima/KYC.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    #NaP
    {
        background-image: url(../Ima/pinguinera.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }

    #TFM
    {
        background-image: url(../Ima/TREN\ FIN\ DE\ MUNDO.jpg);
        height: 500px;
        background-position: top;
        background-repeat: no-repeat;
        background-size:cover;
    }


    */
  
    

footer{
    background-color:rgba(0, 8, 116, 0.726);
    color: aliceblue;
    text-decoration: none;
    }
    footer li a
    {
        background-color: rgb(91, 165, 42);
    }

   

    div.boxmodel
                {
                    width: 300px;
                    height: 231px;
                    background-color: aqua;
                    border: 5px solid black;
                    
                    
                }

    table
                {
                    margin: 0 auto;
                }
img
    {
        height: 700px;
        width: 100%;
        
    }