body
    {
        .fondo  {background-color: aquamarine;}
        background-size: cover;
        background-repeat: no-repeat;

       h2 
            {
            text-align: center;
            height: 100px;
            }

       .videoptf{
                    text-align: center;
                    height: 500px;
                }

        div 
            {
                
                
                header
                        {
                            
                            div 
                                {
                                    img
                                        {
                                            height: 800px;
                                            width: 100%;
                                        }
                                }
                        }
            }


            .tabletarifa{text-align: center;}
            
            .videocb
                    {
                        text-align: center;
                    }
            .videobuceo
                        {
                            text-align: center;
                        }
            .videokyc
                    {
                        text-align: center;
                    }
            .videop
                    {
                        text-align: center;
                    }
            .videolyt
                    {
                        text-align: center;
                    }
            .videocabalgata
                            {
                                text-align: center;
                            }
            .videotren
                            {
                                text-align: center;
                            }


}


