body
    {
        background-color: aqua;
        div 
            {
                
                
                header
                        {
                            
                            div 
                                {
                                    img
                                        {
                                            height: 800px;
                                            width: 100%;
                                        }
                                }
                        }
            }
        

}




