main 
    {
        h1
            {
                color: rgb(0, 0, 0);
                text-align: center;
                margin-top: 5px;
                padding: 50px;
                
            }
        img
            {
                height: 700px;
                width: 100%;
            }

            
    }